.card {
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-item {
  margin: 0.5rem;
}

.card-result {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
}
