---
layout: custom_default
---
{% assign paragraphs = page.description | split: "\n" %}
{% for paragraph in paragraphs %}
    <p>{{ paragraph }}</p>
{% endfor %}

{% assign key = page._name | downcase %}
{% for line in site.data.keys.genus[key] %}
    {% assign genusSpecies = line.genus | append: " " | append: line.species %}
    <div class="card">
        <div class="card-item">{{ line.number }}</div>
        <div class="card-item">{{ line.text }}
            <span class=card-result><a href="{{ line.family | append: "/" | append: genusSpecies | replace: " ", "/" | downcase | relative_url }}">{{ genusSpecies }}</a></span></div>
    </div>
{% endfor %}